@use 'variables';

* {
    padding: 0;
    margin: 0;
    border: 0;
    color: variables.$color_font;
}

body {
    width: 100vw;
}

li {
    list-style: none;
}

.container-main {
    width: 100vw;
    height: calc(100vh - variables.$navbar_h);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: variables.$bg_color;
}